<h1>Tournaments</h1>

<%= link_to new_tournament_path, class: "btn btn-lg btn-success pull-right" do %>
  <i class="fa fa-plus"></i> Add Tournament
<% end %>
</h1>
<p class="lead">Are you ready to pitt your skills in the arena! If so, see below for upcoming tournament dates.</p>

<% if !@tournaments.empty? %>
  <div class="capture-the-flag-table">
    <table>
    	<tr>
    		<th>Name</th>
    		<th>Description</th>
    		<th></th>
    	</tr>
      <%- for level in @levels %>
        <tr>
        	<td><%= level.name %></td>
        	<td><%= level.description %></td>
        	<td>
            <%= link_to new_game_path(level_id: level), class: 'btn btn-lg btn-primary' do %>
              <i class="fa fa-plus"></i> Create Game
            <% end %>
          </td>
        </tr>
      <%- end %>
    </table>
  </div>
<% end %>