<div class="hero-unit">
	<h1>
		Capture The Flag
	</h1>
	<p>
		Ever wondered how to launch an SQL injection or CSRF attack? Capture the flag is a fun way to learn about web application security
		by hacking sample applications to "capture the flag".
	</p>
	<p>
		<a class="btn btn-default btn-large" href="#">Get started »</a>
	</p>
</div>
