<<<<<<< HEAD
<% if @games.empty? %>
  <h1>
    Capture The Flag
  </h1>
  <p>
    Ever wondered how to launch an SQL injection or CSRF attack? Capture the flag is a fun way to learn about web application security
    by hacking sample applications to "capture the flag".
  </p>
  <p>
    <%= link_to "Get started »", levels_path, class: "btn btn-default btn-large" %>
  </p>
<% else %>
  <h1>Games</h1>
  <ul class="games-list unstyled">
    <%= render @games %>
  </ul>

<% end %>
=======
<h1>Games</h1>


<% if !@games.empty? %>
  <div class="games-table">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Level</th>
        <th>Status</th>
        <th>URL</th>
        <th>Started At</th>
      </tr>
        <%= render @games %>
    </table>
  </div>
<% end %>

>>>>>>> hooking up games to ec2-instances and getting status updates
