<h1>New Game - <%= @game.level.name %></h1>
<p>You are launching level '<%= @game.level.name %>'. Please note, this will create an Amazon EC2 server instance which will incur charges on your AWS account.</p>
<p>Good luck!</p>

<%= button_to "Play!", games_path(level_id: @game.level) %>
