<h1>Levels</h1>
<p>Here you will find various capture the flag levels that other users have uploaded. Find one that looks interesting and test your skill!</p>
<%= link_to new_level_path, class: "btn btn-lg btn-success" do %>
  <i class="fa fa-plus"></i> Add Level
<% end %>

<% if !@levels.empty? %>
  <table>
  	<tr>
  		<th>Name</th>
  		<th>URL</th>
  		<th></th>
  	</tr>
    <%- for level in @levels %>
      <tr>
      	<td><%= level.name %></div>
      	<td><%= level.source_url %></div>
      	<td><%= link_to 'Create Game', new_game_path %></div>
      </tr>
    <%- end %>
  </table>
<% end %>
