<h1>Levels</h1>
<p>Here you will find various capture the flag levels that other users have uploaded. Find one that looks interesting and test your skill!</p>
<%= link_to new_level_path, class: "btn btn-lg btn-success" do %>
  <i class="fa fa-plus"></i> Add Level
<% end %>

<% if !@levels.empty? %>
  <div class="levels-table">
    <table class="table table-striped table-bordered">
    	<tr>
    		<th>Name</th>
    		<th>Description</th>
    		<th></th>
    	</tr>
      <%- for level in @levels %>
        <tr>
        	<td><%= level.name %></div>
        	<td><%= level.description %></div>
        	<td><%= link_to 'Create Game', new_game_path, :class => 'btn btn-lg btn-primary' %></div>
        </tr>
      <%- end %>
    </table>
  </div>
<% end %>
